<% unless user_signed_in? %>
<div class="center hero-unit">
  <h1>Welcome! </h1>
  <p>You’ve found the home page for the <%= link_to 'One Month Rails',  "http://onemonthrails.com" %></p>
  <p> <%= link_to 'Sign up now!',  new_user_registration_path, class: "btn btn-large btn-primary" %> </p>
</div>
<% end %>