$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;

@import 'bootstrap';
body{
  padding: 60px 0;
  background: #eee;
}

@import 'bootstrap-responsive';
.navbar-inner {
  @include box-shadow(none !important);
  border: 0;
}

.footer {
  margin-top: 50px;
  color: $grayLight;
  a {
    color: $gray;
  }
}

/* Required for jQuery Masonry */
.box {
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  line-height: 140%;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  width: 212px;
  border: 1px solid #ddd;
}

.box img.pin-img {
  display: block;
  width: 100%;
  min-width: 204px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.box .description {
  margin: 10px 0 5px 0;
}